body{
  font-family: arial;
}
.todo-input{
  padding: 6px;
  margin-right: 5px;
}
.duedate-input{
  padding: 6px;
  margin-right: 5px;
}
.add-input {
  background-color: rgb(11, 121, 11);
  color: white;
  border: none;
  padding: 6px 25px;
}
.todo-grid,
.todo-input-grid{
  display: grid;
  grid-template-columns: 200px 145px 100px;
  margin-top: 10px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.todo-delete{
  padding: 6px 25px;
  background-color: darkred;
  color: white;
  border: none;
  
}
.todo-input-grid{
  align-items: stretch;
  margin-bottom: 10px;
}